
<form>
    <div class="mb-3">
      <label for="id1" class="form-label" routerLink="email">Email address</label>
      <input type="email" class="form-control" id="id1">
    </div>
    <div class="mb-3">
      <label for="id2" class="form-label" routerLink="password">Password</label>
      <input type="password" class="form-control" id="id2">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>&nbsp;
    <button type="submit" class="btn btn-primary">Signup</button>
  </form>